@charset "UTF8";
*{

    margin: 0px;
}
header{
    background-color: black;
    text-align: center;
    color: white;
    margin: 10px solid black;
    padding: 50px;
    font-size: x-large;
}
#primeiro{
    background-color: white;
    width: 600px;
    padding: 10px;
    font-size: larger;
    word-spacing: 1,7em;
}